*{
	margin: 0;
	padding: 0;
}

.con{
	width: 1000px;
	height: 770px;
	margin: 0px auto;
	background-color: #F3F5F3;
}

.head{
	width: 100%;
	height: 80px;
	background-color: #4B4B4B;
	line-height: 80px;
	color: white;
}

h1 span{
	color: #FFFFCC;
	font-size: 1.2em;
}

.head h1{
	font-family: "楷体";
	text-indent: 1em;
}

.main{
	position: relative;
	width: 100%;
	height: 600px;
}

.main > div{
	float: left;
	position: relative;
}

.left{
	width: 200px;
	height: 600px;
	background-color: #646464;
	text-align: center;
}

dl{
	height: auto;
}

dl dt,dl dd{
	height: 50px;
	line-height: 50px;
	color: white;
	border-bottom: 1px solid #969696;
	cursor: pointer;
}

dl dt{
	background-color: #646464;
}


dl dd{
	text-align: center;
	text-indent: 1em;
	display: none;
	background-color: #4B4B4B;
}

dt:hover,dd:hover{
	color: black;
	background-color: #ccc;
}


.right{
	width: 800px;
	height: 600px;
	background-color: #DDDDDD;
}

.right .right_title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	text-indent: 1em;
	background-color: #CCC;
	color: black;
}

.right .right_con{
	margin: 15px 10px;
	width: 780px;
	height: 520px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: white;
}

.right > div{
	position: absolute;
}
.indent_up{
	z-index: 9;
}
.indent_down{
	z-index: auto;
}

#user_table{
	margin: 100px auto auto 100px;

}


#user_table tr td{
	height: 50px;
}
#user_table tr td:nth-child(1){
	text-align: right;
}
#user_table tr td:nth-child(2){
	padding-left: 20px;
}
#user_table tr .check_password{
	padding-left: 20px;
}
.check_password_hidden{
    display: none;
}

.user_info_fm .opt{
	margin-top: 20px;
	margin-left: 100px;
}
.user_info_fm .opt a{
	text-decoration: none;
}
.user_info_fm .opt button{
	margin-left: 30px;
}

/*商品信息表*/
#products_tb{
	border: 1px solid #cccccc;
	border-collapse: collapse;
	width: 100%;
}
#products_tb th,#products_tb td{
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #cccccc;
}
#products_tb tbody tr:nth-child(odd){
	background-color: beige;
}

#products_tb thead tr{
	height: 50px;
}
#products_tb tbody tr{
	height: 40px;
}

#products_tb thead tr th:nth-child(4),
#products_tb tbody tr td:nth-child(4){
	width: 50px;
}







.fen_ye{
	height: 80px;
	background-color: #72d1ff;
	margin-top: 50px;
}
.search{
	height: 80px;
	background-color: aquamarine;
}

/*ul{*/
	/*list-style: none;*/
/*}*/
/*li{*/
	/*float: left;*/
	/*width: 80px;*/
	/*border: 1px solid #cccccc;*/
/*}*/
/*li a{*/
	/*display: block;*/
	/*padding: 5px;*/
	/*text-decoration: none;*/
	/*color: black;*/
	/*text-align: center;*/
/*}*/












.foot{
    text-align: center;
}
.foot span{
    display: block;
    margin-top: 15px;
}
