*{
	margin: 0;
	padding: 0;
}

.con{
	width: 1000px;
	height: 770px;
	margin: 0px auto;
	background-color: #F3F5F3;
}

.head{
	width: 100%;
	height: 80px;
	background-color: #4B4B4B;
	line-height: 80px;
	color: white;
}

h1 span{
	color: #FFFFCC;
	font-size: 1.2em;
}

.head h1{
	font-family: "楷体";
	text-indent: 1em;
}

.main{
	position: relative;
	width: 100%;
	height: 600px;
}

.main > div{
	float: left;
	position: relative;
}

.left{
	width: 200px;
	height: 600px;
	background-color: #646464;
	text-align: center;
}

dl{
	height: auto;
}

dl dt,dl dd{
	height: 50px;
	line-height: 50px;
	color: white;
	border-bottom: 1px solid #969696;
	cursor: pointer;
}

dl dt{
	background-color: #646464;
}


dl dd{
	text-align: center;
	text-indent: 1em;
	display: none;
	background-color: #4B4B4B;
}
dl dd a{
	display: block;
	color: white;
	text-decoration: none;
}

dt:hover,dd:hover{
	color: black;
	background-color: #ccc;
}


.right{
	width: 800px;
	height: 600px;
	background-color: #DDDDDD;
    position: relative;
}

.right .right_title{
	width: 800px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	text-indent: 1em;
	background-color: #CCC;
	color: black;
}

.right > div{
	position: absolute;
}

.right .right_con{
    position: relative;
    margin: 15px 10px;
    width: 780px;
    height: 520px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: white;
}
.indent_up{
	z-index: 9;
}
.indent_down{
	z-index: auto;
}

/*用户信息表*/
.user_table{
	margin: 100px auto auto 100px;
}

.user_table tr td{
	height: 50px;
}
.user_table tr td:nth-child(1){
	text-align: right;
}
.user_table tr td:nth-child(2){
	padding-left: 20px;
}
.user_table tr .check_password{
	padding-left: 20px;
}
.check_password_hidden{
    display: none;
}

.user_info_fm .opt{
	margin-top: 20px;
	margin-left: 100px;
}
.user_info_fm .opt a{
	text-decoration: none;
}
.user_info_fm .opt button{
	margin-left: 30px;
}

/*各个主页列表*/
.products_tb,
.product_manager_tb,
.brand_tb{
	border: 1px solid #cccccc;
	border-collapse: collapse;
	width: 100%;
}
.products_tb th,
.products_tb td,
.product_manager_tb th,
.product_manager_tb td,
.brand_tb th,
.brand_tb td{
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #cccccc;
}
.products_tb tbody tr:nth-child(odd),
.product_manager_tb tbody tr:nth-child(odd),
.brand_tb tbody tr:nth-child(odd){
	background-color: beige;
}

.products_tb thead tr,
.product_manager_tb thead tr,
.brand_tb thead tr{
	height: 50px;
}
.products_tb tbody tr,
.product_manager_tb tbody tr,
.brand_tb tbody tr{
	height: 40px;
}

.products_tb thead tr th:nth-child(5),
.products_tb tbody tr td:nth-child(5),
.product_manager_tb thead tr th:nth-child(6),
.product_manager_tb tbody tr td:nth-child(6),
.product_manager_tb thead tr th:nth-child(7),
.product_manager_tb tbody tr td:nth-child(7),
.brand_tb thead tr th:nth-child(3),
.brand_tb tbody tr td:nth-child(3),
.brand_tb thead tr th:nth-child(4),
.brand_tb tbody tr td:nth-child(4){
	width: 50px;
}

.update_product,
.update_brand,
.add_product{
	margin: auto;
	width: 100%;
	height: 100%;

	background-color: black;
	opacity: 0.6;
	border-radius: 5px;

	color: white;
}

.update_product .upd_tit,
.update_brand .upb_tit,
.add_product .add_tit{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}
.update_product .update_pro_fm,
.update_brand .update_brand_fm,
.add_product .add_pro_fm{
	width: 500px;
	height: 400px;
	margin: auto;
}
.update_product table tr td,
.update_brand table tr td,
.add_product table tr td{
	display: inline-block;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.update_product table tr td:nth-child(1),
.update_brand table tr td:nth-child(1),
.add_product table tr td:nth-child(1){
	width: 160px;
}
.update_product table tr td input,
.update_brand table tr td input,
.add_product table tr td input{
	height: 30px;
	width: 250px;
	font-weight: bold;
	text-indent: 1em;
}
.update_product table .pro_img,
.add_product table .pro_img{
	padding: 20px;
}
.update_product table .pro_img td:nth-child(2),
.add_product table .pro_img td:nth-child(2){
	width: 163px;
}
.update_product button,
.update_brand button,
.add_product button{
	display: block;
	width: 60px;
	height: 30px;
	margin: 20px auto;
}




.fen_ye{
    position: absolute;
    bottom: 100px;
    width: 100%;
	height: 80px;
    margin: auto;
	margin-top: 50px;
}


.fen_ye ul{
    position: absolute;
    width: 420px;
    height: 30px;
	list-style: none;
    clear: both;
    margin: 25px 180px;
}
.fen_ye li{
	float: left;
	/*width: 80px;*/
    padding: 0 3px;
	border: 1px solid #cccccc;
}
.fen_ye li a{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.search{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 80px;
}

.search form{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 190px;
}
.search form .key{
    height: 36px;
    width: 300px;
    vertical-align:middle;
}
.search form .submit{
    height: 40px;
    width: 60px;
    margin-left: 30px;
    font-size: 1em;
    vertical-align:middle;
}








.foot{
    text-align: center;
}
.foot span{
    display: block;
    margin-top: 15px;
}
